name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: sh

    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set Node version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc

      - name: Setup Node cache
        id: cache
        uses: ./.github/actions/cache
        with:
          PREFIX_CACHE_KEY: ${{ runner.os }}
          NODE_MODULES: 'true'
          NPM: 'true'

      - name: Install dependencies
        if: steps.cache.outputs.cache_node_modules != 'true'
        run: npm ci

      - name: Prettier
        run: npm run format:check

      - name: Linter
        run: npm run lint:check

      - name: Build
        run: npm run build
