name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: sh

    steps:
      - name: Git checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set Node version
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: .nvmrc

      - name: Setup Node cache
        id: cache
        uses: ./.github/actions/cache
        with:
          PREFIX_CACHE_KEY: ${{ runner.os }}
          NODE_MODULES: 'true'
          NPM: 'true'

      - name: Install dependencies
        if: steps.cache.outputs.cache_node_modules != 'true'
        run: npm ci

      - name: Prettier
        run: npm run format:check

      - name: Linter
        run: npm run lint:check

      - name: Build
        run: npm run build
